.CyclesList {
    margin: 0;
    padding: 0;
    padding-top: 4.5%;
    width: auto;
}

.modal-header {
    justify-content: center;
}

.modal-body.cycle {
    padding-bottom: 0;
}

.btn.btn-secondary:focus {
    border-color: #191716 !important;
    box-shadow: 0 0 0 0.2rem white !important;
}

.primary.cycle {
    margin: 0;
}

.table-responsive {
    overflow: visible;
    margin-right: 7%;
    height: auto;
}

.table {
    position: relative;
    overflow: visible;
    margin-bottom: 5%;
    height: auto;
}

.customTable {
    border: 2px solid #191716;
    padding: 20px !important;
    min-width: 130px;
    background-color: #191716 !important;
    color: white !important;
    align-content: center;
    text-align: justify;
}

.customTable.underline {
    border-bottom: 2px solid white !important;
    color: #e6af2e !important;
    align-content: end;
    text-align: start;
}

.cycleSelect:hover,
.cycleSelect:focus {
    outline: none;
    cursor: pointer;
}

.pointer {
    border: #191716;
    background-color: #191716 !important;
    color: #191716 !important;
    align-content: center;
    text-align: end;
}

.cycleSelect:hover .pointer,
.cycleSelect:focus .pointer {
    color: #e6af2e !important;
}

.cycleSelect:hover .customTable.cycleName,
.cycleSelect:focus .customTable.cycleName {
    color: #e6af2e !important;
    font-weight: bold;
}

.customTable.edit {
    padding-left: 2rem !important;
    padding-right: 0 !important;
    width: 0% !important;
    text-align: left !important;
}

.primary.edit {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    color: #e6af2e !important;
    background-color: #191716 !important;
}

.primary.edit:focus {
    box-shadow: 0 0 0 0.2rem white !important;
    color: #e6af2e !important;
}

.editIconStyle.cycle,
.deleteIconStyle.cycle {
    margin: 0;
    margin-right: 0.5rem;
}

.customTable.delete {
    padding-left: 0.5rem !important;
    text-align: left !important;
}

.primary.delete {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    color: #ff4646;
    background-color: #191716 !important;
}

.primary.delete:focus {
    box-shadow: 0 0 0 0.2rem white !important;
    color: #ff4646 !important;
}

.plusIconStyle.cycle {
    margin: 0;
    margin-right: 0.5rem;
}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {
    .table-responsive {
        overflow-x: auto !important;
    }
}