**/build/
**/node_modules/
**/coverage
nbactions.xml
nb-configuration.xml

.classpath
.idea
.project
.settings
target
.vscode
yarn-debug.log*
yarn-error.log*
=

src/main/resources/db
src/main/resources/user-icons
frontend/src/modules/common/fonts/discartedFonts