.GraphPage {
    margin: 0;
    padding: 0;
    padding-top: 4.5%;
    width: auto;
}

.title.fatigue,
.title.stiffness,
.title.motivation,
.title.sleep,
.title.weight {
    margin: 0;
}

.title.weight:hover {
    cursor: pointer;
    text-decoration: underline;
}

.GraphContainer {
    width: 80rem;
    height: 25rem;
}

.Graph .tick text {
    fill: white !important;
    font-size: 0.8rem !important;
}

.Graph .domain,
.Graph .tick line {
    stroke-dasharray: 0, 0 !important;
    stroke: gray !important;
}

.primary.graph {
    margin-top: 10px;
    border: 1px solid #191716;
    background-color: #e6af2e;
    color: #191716;
    align-items: center;
    font-weight: bold;
}

.primary.graph:active,
.primary.graph:focus,
.primary.graph:hover {
    border: 1px solid #191716 !important;
    box-shadow: none !important;
    background-color: #e6af2e !important;
    color: #191716 !important;
}

.notSelected {
    margin-top: 10px;
    border: 1px solid #191716;
    background-color: white;
    color: #191716;
    align-items: center;
    font-weight: bold;
}

.notSelected:hover {
    border: 1px solid #191716;
    background-color: white;
    color: #191716;
}

.notSelected:active,
.notSelected:focus {
    border: 1px solid #191716 !important;
    box-shadow: none !important;
    background-color: #191716 !important;
    color: white !important;
}

.custom-tooltip {
    position: absolute;
    color: white;
    background-color: #191716;
    padding: 5px;
    border: 2px solid white !important;
    border-radius: 5px;
    font-size: 0.9rem;
    box-shadow: none;
    outline: none;
    white-space: nowrap;
    z-index: 9999;
    pointer-events: none;
    transform: translate(-73%, -120%);
}

.custom-tooltip::before {
    content: '';
    position: absolute;
    bottom: -20px;
    /* Adjust this value to position the arrow */
    left: 53%;
    transform: translateX(-50%);
    padding: 5px;
    border: 2px solid #e6af2e !important;
    border-radius: 7px !important;
    border-color: white transparent transparent transparent;
    /* Adjust the color to match the tooltip background */
    background-color: #191716;
    /* Set the background color to match the tooltip */
    box-shadow: none !important;
    outline: none !important;
}

.tooltip-wrap {
    color: transparent;
}

.tooltip-wrap>div {
    background-color: transparent !important;
}

.tooltip-wrap>div>div {
    background-color: transparent !important;
}

.tooltip-wrap>div>div>div {
    background-color: transparent !important;
}

.tooltip-wrap>div>div>div>div:not(.custom-tooltip) {
    border-color: transparent !important;
}