.home {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.upper-right-quadrant,
.lower-right-quadrant {
    height: 40%;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-col,
.pope-col {
    align-content: center;
}

.pope-logo {
    width: 100%;
    height: auto;
}

/* Ajusta el tamaño y el margen de los iconos */
.trainer-icon,
.client-icon {
    width: 15%;
    /* Mantiene la proporción del icono */
    height: auto;
    /* Espacio entre el icono y el texto */
    margin-bottom: 0.5rem;
}

/* Ajusta la letra y el fondo */
.trainer-col,
.client-col {
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Estilos para hover (cursor encima) */
.trainer-col:hover,
.client-col:hover {
    cursor: pointer;
    color: #e6af2e;
    transform: scale(1.15);
}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {

    .trainer-col,
    .client-col,
    .pope-col {
        width: 100%;
        font-size: 1.5rem;
    }

    .trainer-col,
    .client-col {
        margin-bottom: 7rem;
    }

    .trainer-col:hover,
    .client-col:hover {
        cursor: pointer;
        color: #e6af2e;
        transform: scale(1);
    }

    .trainer-icon,
    .client-icon {
        width: 100px;
        height: 100px;
    }
}