.AddClient {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
    flex-grow: 1;
    overflow-y: auto;
}

.card.addClient {
    width: 45%;
    margin: 0;
    margin-top: 4%;
    margin-bottom: 7%;
    border: none;
    background-color: #191716;
}

#weight.form-control.weight {
    margin-left: 0 !important;
    width: 100% !important;
}