.ClientsList {
    margin: 0;
    padding: 0;
    padding-top: 4.5%;
    width: auto;
    background-color: #191716;
}

.smallImageStyle {
    max-width: 120px;
    height: auto;
}

.listItemStyle.add {
    justify-content: space-between;
}

.addText {
    margin-bottom: 25px;
}

.plusIconStyle {
    margin-top: 50%;
    max-width: 120px;
    height: auto;
}

.textoDifuminado {
    /* Asegura que el texto se mantenga en una sola línea */
    white-space: nowrap;
    /* Oculta cualquier contenido que desborde el contenedor */
    overflow: hidden;
    /* Establece un ancho máximo para el contenedor del texto */
    max-width: 100%;
    /* Posicionamiento relativo para el contenedor del pseudo-elemento */
    position: relative;
}

.textoDifuminado.desbordado::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #191716 90%);
}

/* Al pasar el cursor, el texto se muestra completo */
.listItemStyle:hover .textoDifuminado {
    overflow: visible;
    white-space: normal;
}

/* Oculta el efecto de difuminado al pasar el cursor */
.listItemStyle:hover .textoDifuminado::after {
    display: none;
}