.ClientDetails {
    margin: 0;
    padding: 0;
    padding-top: 5%;
    width: auto;
}

.listItemStyle.clientDetails {
    justify-content: space-between;
}

.clientDetailsText {
    margin-bottom: 25px;
}