.UpdateProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
    flex-grow: 1;
    overflow-y: auto;
}

.card.updateProfile {
    width: 45%;
    margin: 0;
    margin-top: 4%;
    margin-bottom: 7%;
    border: none;
    background-color: #191716;
}

.card-footer {
    margin-top: 5%;
    border-top: 2px solid;
    border-color: white;
    padding-top: 5%;
}

.btn.danger {
    background-color: #ff4646;
    border-color: #ff4646;
    color: #191716;
}

.modal-header.deleteProfile {
    justify-content: start;
    color: #ff4646;
}

.nav-link.updateProfile {
    background-color: #e6af2e;
    color: #191716;
    font-weight: bold;
}

.nav-link.updateProfile:active,
.nav-link.updateProfile:focus {
  border-color: #191716 !important;
  box-shadow: 0 0 0 0.2rem #e6af2e !important;
  background-color: #191716 !important;
  color: #e6af2e !important;
}

.btn.danger.nav-link.deleteProfile {
    color: #191716;
    font-weight: bold;
}

.btn.danger:active,
.btn.danger:focus,
.btn.danger.nav-link.deleteProfile:active,
.btn.danger.nav-link.deleteProfile:focus,
.btn.btn-danger:focus {
  border-color: #191716 !important;
  box-shadow: 0 0 0 0.2rem white !important;
  background-color: #191716 !important;
  color: white !important;
}

.btn.danger:hover,
.nav-link.updateProfile:hover,
.btn.danger.nav-link.deleteProfile:hover {
    color: white;
}

.nav-link.updateProfile.active {
    background-color: #e6af2e;
    color: #191716;
    font-weight: bold;
}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {

    .btn.danger.nav-link.deleteProfile {
      margin-top: 20px;
    }
  
  }